MARIA_DB_ROOT_PASSWORD=your_root_password
VELOCITY_FORWARDING_SECRET=your_velocity_forwarding_secret
ACME_EMAIL=your_acme_email
CF_DNS_API_TOKEN=your_cloudflare_api_token
KEYCLOAK_ADMIN=your_keycloak_admin_username
KEYCLOAK_ADMIN_PASSWORD=your_keycloak_admin_password
KC_HOSTNAME=auth.minersonline.uk